In [24]:
import pandas as pd
import matplotlib.pyplot as mp

从文件中获取数据，放入dataframe类型文件中

In [3]:
data_columns = ['companyFullName', 'positionName', 'createTime', 'companyShortName', 'city', 'education', \
                'jobNature', 'salary', 'industryField', 'financeStage', 'positionAdvantage', 'companySize', \
                'companyLabelList', 'district', 'positionLables']
data_lagou = pd.read_csv(
                        '../txt/positions_test.csv',
                        header=None,
                        names=data_columns,
                        sep=';',
                        engine='python',
                        error_bad_lines=False,
                        encoding='utf-8',
                         )

Skipping line 247: Expected 15 fields in line 247, saw 18
Skipping line 446: Expected 15 fields in line 446, saw 18
Skipping line 920: Expected 15 fields in line 920, saw 16
Skipping line 991: Expected 15 fields in line 991, saw 16

In [4]:
print(data_lagou.head())

  companyFullName positionName           createTime companyShortName city  \
0      凡普金科集团有限公司     数据分析师-风控  2019-09-17 10:35:32             凡普金科   北京
1  深圳市中手游网络科技有限公司        数据分析师  2019-09-17 10:31:52          CMGE中手游   北京
2      联想（北京）有限公司  数据分析师（机器学习）  2019-09-17 16:47:41             联想集团   北京
3  厦门科拓通讯技术股份有限公司        数据分析师  2019-09-17 15:50:37   厦门科拓通讯技术股份有限公司   成都
4  神策网络科技（北京）有限公司     数据分析师-上海  2019-09-16 10:24:44             神策数据   上海

  education jobNature   salary industryField financeStage  \
0        本科        全职  15k-25k            金融        不需要融资
1        本科        全职   6k-12k      移动互联网,游戏         上市公司
2        硕士        全职  30k-40k    移动互联网,数据服务         上市公司
3        本科        全职  15k-30k       硬件,企业服务        不需要融资
4        本科        全职  15k-30k          数据服务           C轮

      positionAdvantage companySize                  companyLabelList  \
0                 发展空间大     2000人以上  ['节日礼物', '技能培训', '带薪年假', '绩效奖金']
1  大平台 晋升机会 福利待遇好 团队氛围棒   500-2000人  ['节日礼物', '技能培训', '绩效奖金', '岗位晋升']
2                  带薪年假     2000人以上  ['五险一金', '绩效奖金', '午餐补助', '带薪年假']
3                 发展前景好   500-2000人                                []
4    五险一金,午餐补助,补充医疗,14薪    150-500人  ['节日礼物', '年底双薪', '股票期权', '带薪年假']

  district                      positionLables
0      东城区        ['可视化', '数据分析', '商业', 'SQL']
1      朝阳区                      ['游戏', '数据分析']
2      海淀区                            ['数据分析']
3      武侯区                      ['SQL', '数据库']
4      静安区  ['大数据', '商业', 'BI', '可视化', '数据分析']

In [5]:
data_lagou.describe()

,companyFullName,positionName,createTime,companyShortName,city,education,jobNature,salary,industryField,financeStage,positionAdvantage,companySize,companyLabelList,district,positionLables
count,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166
unique,677,395,1042,676,26,4,3,128,110,8,1001,6,510,95,705
top,北京字节跳动科技有限公司,数据分析师,2019-09-09 10:55:32,字节跳动,北京,本科,全职,15k-25k,金融,不需要融资,六险一金，弹性工作，免费三餐，租房补贴,2000人以上,[],朝阳区,['数据分析']
freq,30,479,4,30,431,989,1148,149,127,297,12,413,149,192,157

查看每列有多少缺失值

In [13]:
num = data_lagou.isnull().sum()

查看每行有多少个缺失值

In [12]:
num = data_lagou.isnull().sum(axis=1)

判断整个数据中是否存在缺失数据

In [10]:
df = any(data_lagou.isnull())
df

True

查看education 里面内容出现的频率

In [18]:
educations = pd.Series(data_lagou.education)
educations_value_counts = educations.value_counts()
educations_value_counts

本科    989
不限     69
硕士     61
大专     47
Name: education, dtype: int64

采用 matplotlib 画图表示

In [21]:
educations_value_counts.plot(kind='bar')

In [25]:
mp.plot(educations_value_counts)

查看 finance stage 内容出现的频率

In [17]:
financeStages = pd.Series(data_lagou.financeStage)
financeStage_value_counts = financeStages.value_counts()
financeStage_value_counts

不需要融资    297
上市公司     274
D轮及以上    152
C轮       115
B轮       110
未融资       98
A轮        97
天使轮       23
Name: financeStage, dtype: int64

In [22]:
financeStage_value_counts.plot(kind='bar')

In [26]:
mp.plot(financeStage_value_counts)

查看 jobNature 出现的频率

In [28]:
jobNatures = pd.Series(data_lagou.jobNature)
jobNature_value_counts = jobNatures.value_counts()
jobNature_value_counts

全职    1148
实习      15
兼职       3
Name: jobNature, dtype: int64

In [29]:
jobNature_value_counts.plot(kind='bar')
mp.plot(jobNature_value_counts)